Repository LiskArchive/lisk-migrator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

:art: Update interoperability module assets implementation
  src/assets/interoperability.ts
  src/constants.ts
  src/createAsset.ts
  src/schemas.ts
  src/types.ts
  test/unit/assets/interoperability.spec.ts
Due: prettier --write, eslint

Update test
  test/unit/assets/interoperability.spec.ts
Due: prettier --write, eslint

:recycle: Introduce data directory backup
  .gitignore
  .prettierignore
  src/createAsset.ts
  src/index.ts
  src/utils/node.ts
Due: prettier --write, eslint

:arrow_up: Update dependencies
  package.json
  yarn.lock
Due: prettier --write

Adds banner to readme
  README.md
  banner.png
Due: prettier --write

moves banner image under docs/assets
  README.md
  docs/assets/banner_migrator.png
Due: prettier --write

Adds jenkinsfile to enable CI #82
  .jenkins/Jenkinsfile.ci
  .prettierignore
Due: none

Removing reference to '../packages' in Jenkinsfile Modified build step to use yarn instead of npm for building (since there's a yarn.lock file but no package-lock.json file)
  .jenkins/Jenkinsfile.ci
Due: none

Fixes CI format migrator step
  .jenkins/Jenkinsfile.ci
Due: none

:bug: Fix issue to extract compressed db snapshot
  src/index.ts
  src/utils/fs.ts
  test/unit/utils/fs.spec.ts
Due: prettier --write, eslint

Add dependencies
  package.json
  yarn.lock
Due: prettier --write

Add fixtures for tests
  .gitignore
  test/unit/fixtures/blockchain.db.tar.gz
Due: none

:hammer: Code refactoring
  src/utils/fs.ts
  test/unit/utils/fs.spec.ts
Due: prettier --write, eslint

Fix unit test Update package description
  package.json
  src/index.ts
  src/utils/fs.ts
  test/unit/utils/fs.spec.ts
Due: prettier --write, eslint

Applied suggestions from code review
  src/constants.ts
  src/index.ts
  src/utils/fs.ts
Due: prettier --write, eslint

Applied suggestions
  src/index.ts
  src/utils/fs.ts
  test/unit/utils/fs.spec.ts
Due: prettier --write, eslint

Adds code coverage for branch and PRs
  .github/workflows/branch-coverage.yml
  .github/workflows/pr-coverage.yml
  codecov.yml
Due: none

Updates package.json to stop coverage reporters in text
  package.json
Due: prettier --write

Adds code coverage for readme
  README.md
Due: prettier --write

Fixed code coverage for readme
  README.md
Due: prettier --write

Adds config file to jest coverage
  package.json
Due: prettier --write

:seedling: :WIP: Draft readme for migrator
  README.md
Due: prettier --write

:arrow_up: Update dependencies
  package.json
  src/assets/interoperability.ts
  src/schemas.ts
  test/unit/utils/genesis_block.spec.ts
  yarn.lock
Due: prettier --write, eslint

Fix build issue
  src/constants.ts
  src/index.ts
  src/schemas.ts
Due: prettier --write, eslint

Applied suggestions
  src/constants.ts
  src/types.ts
Due: prettier --write, eslint

Move migration guide to separate file
  README.md
  docs/migration.md
Due: prettier --write

Update migration guide
  README.md
  docs/migration.md
  src/index.ts
Due: prettier --write, eslint

Applied suggestions
  README.md
  docs/migration.md
Due: prettier --write

Applied suggestions
  docs/migration.md
  src/index.ts
Due: prettier --write, eslint

:arrow_up: Update dependencies :art: Update banner
  .nvmrc
  docs/assets/banner_migrator.png
  package.json
  yarn.lock
Due: prettier --write

Fix Jenkins
  yarn.lock
Due: none

Apply suggestions from code review
  docs/migration.md
Due: prettier --write

:pencil: Update README
  .nvmrc
  README.md
  docs/commands/help.md
  docs/migration.md
  package.json
  yarn.lock
Due: prettier --write

Apply suggestions from code review
  src/index.ts
Due: prettier --write, eslint

Applied suggestion
  package.json
  yarn.lock
Due: prettier --write

:pencil: Update README
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.ts
