Repository LiskArchive/lisk-migrator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

:recycle: Optimize code Update unit tests
  src/assets/pos.ts
  src/createAsset.ts
  src/utils/block.ts
  src/utils/transaction.ts
  test/unit/assets/pos.spec.ts
Due: prettier --write, eslint

:art: Write genesis assets file to filesystem Add util method for parse object to json compatible object
  src/index.ts
  src/utils/genesis_block.ts
  src/utils/parser.ts
  test/unit/utils/config.spec.ts
  test/unit/utils/genesis_block.spec.ts
  test/unit/utils/parser.spec.ts
Due: prettier --write, eslint

Update dependencies
  package.json
  yarn.lock
Due: prettier --write

Resolve TODOs
  src/assets/token.ts
  src/createAsset.ts
  test/unit/utils/genesis_block.spec.ts
Due: prettier --write, eslint

Applied suggestions
  src/assets/pos.ts
  src/createAsset.ts
  src/utils/block.ts
Due: prettier --write, eslint

Update unit tests
  test/unit/assets/pos.spec.ts
Due: prettier --write, eslint

Add unit tests
  test/unit/createAsset.spec.ts
Due: prettier --write, eslint

Add unit tests
  src/assets/pos.ts
  src/utils/block.ts
  src/utils/transaction.ts
  test/unit/assets/pos.spec.ts
  test/unit/assets/transaction.spec.ts
  test/unit/createAsset.spec.ts
Due: prettier --write, eslint

:bug: Wrap testcase in try..catch
  test/unit/createAsset.spec.ts
Due: prettier --write, eslint

Fix failing tests
  test/unit/assets/pos.spec.ts
  test/unit/assets/transaction.spec.ts
  test/unit/createAsset.spec.ts
Due: prettier --write, eslint

Applied suggestions
  src/utils/genesis_block.ts
  src/utils/parser.ts
  test/unit/utils/parser.spec.ts
Due: prettier --write, eslint

:WIP: Update migrate config implementation
  src/index.ts
  src/schemas.ts
  src/types.ts
  src/utils/config.ts
Due: prettier --write, eslint

Fix failing tests
  src/utils/config.ts
  test/unit/fixtures/config.json
  test/unit/fixtures/config.ts
  test/unit/utils/config.spec.ts
Due: prettier --write, eslint

Code refactoring
  src/types.ts
  src/utils/config.ts
  test/functional/utils/process.spec.ts
Due: prettier --write, eslint

:hammer: Code refactoring
  src/constants.ts
  src/index.ts
  src/utils/config.ts
Due: prettier --write, eslint

Applied suggestions
  src/utils/config.ts
  test/unit/fixtures/config.ts
  test/unit/utils/config.spec.ts
Due: prettier --write, eslint

Applied suggestions from code review
  src/index.ts
  src/types.ts
  src/utils/config.ts
  test/functional/utils/process.spec.ts
  test/unit/utils/config.spec.ts
Due: prettier --write, eslint

:WIP: Optimise implementation
  src/assets/auth.ts
  src/assets/legacy.ts
  src/assets/pos.ts
  src/assets/token.ts
  src/createAsset.ts
Due: prettier --write, eslint

:hammer: Refactor unit tests
  test/unit/assets/auth.spec.ts
  test/unit/assets/legacy.spec.ts
  test/unit/assets/pos.spec.ts
  test/unit/assets/token.spec.ts
Due: prettier --write, eslint

Code refactoring
  src/assets/auth.ts
  src/assets/pos.ts
  src/assets/token.ts
  src/createAsset.ts
  src/types.ts
  test/unit/assets/auth.spec.ts
  test/unit/assets/pos.spec.ts
  test/unit/assets/token.spec.ts
  test/unit/createAsset.spec.ts
Due: prettier --write, eslint

Applied suggestions from code review
  src/assets/auth.ts
  src/assets/interoperability.ts
  src/assets/legacy.ts
  src/assets/pos.ts
  src/assets/token.ts
  src/constants.ts
  src/createAsset.ts
  src/types.ts
  test/unit/assets/auth.spec.ts
  test/unit/assets/interoperability.spec.ts
  test/unit/assets/legacy.spec.ts
  test/unit/assets/pos.spec.ts
  test/unit/assets/token.spec.ts
Due: prettier --write, eslint

:arrow_up: Update dependencies Update nodejs version
  .github/workflows/branch-coverage.yml
  .github/workflows/pr-coverage.yml
  .jenkins/Jenkinsfile.ci
  .nvmrc
  package.json
  yarn.lock
Due: prettier --write

Update token module asset creation
  src/constants.ts
  src/createAsset.ts
Due: prettier --write, eslint

:hammer: Update migrator implementation
  src/constants.ts
  src/index.ts
  src/utils/config.ts
  test/unit/utils/config.spec.ts
Due: prettier --write, eslint

Update config files for testnet and mainnet Add logic to assign maxBFTWeightCap if not available
  config/mainnet/config.json
  config/testnet/config.json
  src/utils/config.ts
Due: prettier --write, eslint

Add logic to get confirmation from user to stop lisk core v3
  src/constants.ts
  src/index.ts
Due: prettier --write, eslint

Add test coverage
  test/unit/fixtures/config.ts
Due: prettier --write, eslint

Applied suggestions from code review
  src/constants.ts
  src/index.ts
  src/utils/config.ts
Due: prettier --write, eslint

:arrow_up: Upgrade version to v2.0.0-beta.1
  package.json
  yarn.lock
Due: prettier --write

Update MIN_CERTIFICATE_HEIGHT calculation
  src/utils/config.ts
Due: prettier --write, eslint

Add codeql check with github action
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

:art: Lint
  .github/workflows/codeql.yml
Due: none

:arrow_up: Bump Lisk SDK to v6.0.0-beta.5
  package.json
  src/constants.ts
  yarn.lock
Due: prettier --write, eslint

:books: Update README
  README.md
Due: prettier --write

Add dependency check using github actions
  .github/workflows/dependency.yaml
Due: none

Update .github/workflows/codeql.yml
  .github/workflows/codeql.yml
Due: none

:hammer: Refactor implementation to read node snapshot
  src/constants.ts
  src/index.ts
Due: prettier --write, eslint

:arrow_up: Update dependencies
  package.json
  yarn.lock
Due: prettier --write

Update SDK version :hammer: Refactor code
  package.json
  src/assets/pos.ts
  src/constants.ts
  src/createAsset.ts
  src/index.ts
  src/types.ts
  src/utils/chain.ts
  src/utils/transaction.ts
  yarn.lock
Due: prettier --write, eslint

Fix unit tests
  test/unit/assets/pos.spec.ts
  test/unit/assets/transaction.spec.ts
  test/unit/createAsset.spec.ts
  test/unit/utils/genesis_block.spec.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.ts)) or (any of: *.{json,md})
  eslint: any of: *.ts
